html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    height: auto;
    background-color: #dfe6e9
}

body {
    /*margin-bottom: 60px;*/
    background-color: #f1f2f6;
    width: 100%;
}

#HomepageBody {
    background-image: url("/THoCC_Logo17_RGB_WebRes.png");
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 220, 0);
    margin-top: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
}

@media (max-width: 768px) {
    #HomepageBody {
        min-height: 30vh;
    }

    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

#carousel {
    background-color: #ced6e0;
    border-radius: 5px 5px 5px 5px;
}

#social {
    background-color: #208454
}

#main {
    width: 100%;
}

#logoImage {
    background-color: rgb(255, 220, 0);
}

#carouselExampleAutoplaying{
    padding: 0;
}